@import "../../global.scss";
.technologies {
    background-color: $mainColor;
    .wrapper {
        display: flex;
        //justify-content: center;
        align-items: center;
        flex-direction: column;
        .title {
            padding: 100px;
        }
        .blocs {
            display: flex;
            justify-content: space-between;
            @keyframes animate {
                0%,
                100% {
                    transform: translateY(-40px);
                }
                50% {
                    transform: translateY(40px);
                }
            }
            .container {
                width: 300px;
                display: flex;
                flex-direction: column;
                align-items: center;
                background: linear-gradient(45deg, #B9F9F4, #C6AFFA);
                border-radius: 25px;
                margin: 40px;
                animation: animate 10s linear infinite;
                animation-delay: calc(-1s * var(--i));
                h2 {
                    padding: 30px;
                    font-weight: 600;
                    font-size: 30px;
                }
                ul {
                    padding: 30px;
                    li {
                        margin: 10px;
                        padding-left: 30px;
                    }
                }
            }
            .container:nth-child(1) {
                top: -50px;
            }
            .container:nth-child(2) {
                top: -100px;
            }
            .container:nth-child(3) {
                top: -10px;
            }
        }
    }
}