    @import "../../global.scss";
    @font-face {
        font-family: "CalibreMedium";
        src: url("../../fonts/Calibre/Calibre-Medium.ttf") format("truetype");
        font-weight: normal;
    }
    
    @font-face {
        font-family: "CalibreLight";
        src: url("../../fonts/Calibre/Calibre-Light.ttf") format("truetype");
        font-weight: normal;
    }
    
    @font-face {
        font-family: "CalibreSemiBold";
        src: url("../../fonts/Calibre/Calibre-Semibold.ttf") format("truetype");
        font-weight: normal;
    }
    
    @font-face {
        font-family: "SFMonoRegular";
        src: url("../../fonts/SFMono/SFMono-Regular.ttf") format("truetype");
        font-weight: normal;
    }
    
    @font-face {
        font-family: "SFMonoSemiBold";
        src: url("../../fonts/SFMono/SFMono-Semibold.ttf") format("truetype");
        font-weight: normal;
    }
    
    .technologies {
        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            height: 90%;
            padding-top: 90px;
            .big-text {
                position: absolute;
                white-space: nowrap;
                left: 50%;
                top: 10%;
                font-size: 150px;
                font-weight: 800;
                font-family: poppins;
                letter-spacing: 10px;
                color: transparent;
                opacity: 30%;
                -webkit-text-stroke: 1px $textColorDarkMode;
                transform: translate(-50%, -50%);
                @include mobile {
                    font-size: 40px;
                }
            }
            .title {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin-bottom: 40px;
                h2 {
                    text-align: center;
                    font-family: CalibreLight;
                    font-size: $titleSize;
                    font-weight: 500;
                    letter-spacing: 1px;
                    color: $textColorDarkMode;
                    span {
                        font-weight: 600;
                    }
                    @include mobile {
                        font-size: 22px;
                    }
                }
            }
            .blocs {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                @include mobile {
                    flex-direction: column;
                }
                .container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    width: 300px;
                    margin: 40px;
                    background: #101F38;
                    border-radius: 5px;
                    -webkit-font-smoothing: antialiased;
                    h2 {
                        padding: 30px;
                        font-weight: 600;
                        font-size: 30px;
                    }
                    ul {
                        padding: 30px;
                        li {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            flex-direction: row;
                            margin: 10px;
                            gap: 20px;
                        }
                    }
                }
            }
        }
    }