@import "../../global.scss";
@import "../../fonts/Calibre/Calibre-Medium.ttf";
* {
    color: $textColorDarkMode;
}

.menu {
    width: 300px;
    height: 100vh;
    background-color: $decoration;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
    @include mobile {
        width: 100%;
        top: -100vh;
        right: 0;
    }
    &.active {
        right: 0;
        @include mobile {
            top: 0;
            right: 0;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 24px;
        font-weight: 200;
        color: white;
        width: 60%;
        li {
            margin-bottom: 25px;
            a {
                font-size: inherit;
                color: inherit;
                text-decoration: none;
            }
            &:hover {
                font-weight: 500;
            }
        }
    }
}