@import "../../global.scss";
@import "../../fonts/Calibre/Calibre-Medium.ttf";
* {
    color: $textColorDarkMode;
}

.menu {
    width: 100%;
    height: 100vh;
    background-color: $secondaryColor;
    position: fixed;
    top: -100vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease;
    -webkit-font-smoothing: antialiased;
    @include mobile {
        width: 100%;
        top: -100vh;
    }
    &.active {
        top: 0;
        @include mobile {
            top: 0;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 24px;
        font-weight: 200;
        color: white;
        width: 60%;
        li {
            margin-bottom: 25px;
            a {
                font-weight: 800;
                font-family: poppins, sans-serif;
                font-size: 60px;
                color: transparent;
                letter-spacing: 2px;
                text-decoration: none;
                -webkit-text-stroke: 1px $textColorDarkMode;
                transition: all 0.2s ease;
                @include mobile {
                    font-size: 35px;
                }
            }
            a::after {
                content: "";
                display: block;
                position: relative;
                top: -5px;
                width: 100%;
                height: 1px;
                margin-top: 16px;
                background: #fff;
                opacity: 60%;
            }
        }
        li:hover {
            a {
                color: $highlightColor;
                -webkit-text-stroke: 1px $highlightColor;
            }
        }
    }
}