@import "../../global.scss";
.topbar {
    width: 100%;
    height: 70px;
    background-color: $mainColor;
    color: $highlightColor;
    position: fixed;
    top: 0;
    z-index: 3;
    transition: all 1s ease;
    display: flex;
    justify-content: center;
    .wrapper {
        width: 100%;
        margin: 10px 30px !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left {
            display: flex;
            align-items: center;
            .logo {
                font-size: 30px;
                font-weight: 500;
                text-decoration: none;
                color: inherit;
                margin-right: 40px;
                opacity: 60%;
            }
            .itemContainer {
                display: flex;
                align-items: center;
                margin-left: 30px;
                @include mobile {
                    display: none;
                }
                .icon {
                    font-size: 18px;
                    margin-right: 5px;
                    opacity: 60%;
                }
            }
        }
        .right {
            .hamburger {
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                span {
                    width: 100%;
                    height: 3px;
                    background-color: $highlightColor;
                    transform-origin: left;
                    transition: all 2s ease;
                }
            }
        }
    }
    &.active {
        background-color: $decoration;
        color: white;
        .hamburger {
            span {
                &:first-child {
                    background-color: white;
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:last-child {
                    background-color: white;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}