@import "../../global.scss";
.portfolio {
    background-color: $mainColor;
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        .title {
            margin: 5px;
            h2 {
                font-weight: 500;
            }
        }
        .container {
            display: flex;
            justify-content: center;
            -webkit-box-align: center;
            flex-direction: column;
            align-items: center;
            height: 100%;
            @include mobile {
                padding: 80px 0px;
            }
            .project-grid {
                width: 900px;
                height: 100%;
                list-style: none;
                margin: 50px 0px 0px;
                display: grid;
                position: relative;
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                grid-gap: 15px;
                box-sizing: inherit;
                .item {
                    display: list-item;
                    text-align: -webkit-match-parent;
                    .project-inner {
                        display: flex;
                        -webkit-box-pack: justify;
                        justify-content: space-between;
                        -webkit-box-align: center;
                        flex-direction: column;
                        align-items: flex-start;
                        position: relative;
                        height: 60%;
                        padding: 2rem 1.75rem;
                        border-radius: 3px;
                        background-color: $secondaryColor;
                        .top {
                            display: block;
                            width: 100%;
                            .project-top {
                                display: flex;
                                -webkit-box-pack: justify;
                                justify-content: space-between;
                                -webkit-box-align: center;
                                align-items: center;
                                margin-bottom: 35px;
                                .folder {
                                    color: $highlightColor;
                                    svg {
                                        width: 40px;
                                        height: 40px;
                                    }
                                }
                                .project-links {
                                    display: flex;
                                    -webkit-box-align: center;
                                    align-items: center;
                                    margin-right: -10px;
                                    a {
                                        display: flex;
                                        -webkit-box-pack: center;
                                        justify-content: center;
                                        -webkit-box-align: center;
                                        align-items: center;
                                        padding: 5px 7px;
                                        svg {
                                            width: 20px;
                                            height: 20px;
                                        }
                                    }
                                }
                            }
                            .project-title {
                                margin: 0px 0px 10px;
                                a {
                                    position: static;
                                    text-decoration: none;
                                    font-weight: 600;
                                }
                            }
                            .project-description {
                                font-size: 17px;
                                opacity: 60%;
                            }
                        }
                        .bottom {
                            display: grid;
                            flex-direction: row;
                            .project-tech-list {
                                display: flex;
                                align-items: flex-end;
                                -webkit-box-flex: 1;
                                flex-grow: 1;
                                flex-wrap: wrap;
                                padding-inline-start: 0px;
                                margin: 20px 0px 0px;
                                list-style: none;
                                li {
                                    display: list-item;
                                    text-align: -webkit-match-parent;
                                    opacity: 40%;
                                    margin-right: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}