@import "../../global.scss";
@font-face {
    font-family: "CalibreMedium";
    src: url("../../fonts/Calibre/Calibre-Medium.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "CalibreLight";
    src: url("../../fonts/Calibre/Calibre-Light.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "CalibreSemiBold";
    src: url("../../fonts/Calibre/Calibre-Semibold.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "SFMonoRegular";
    src: url("../../fonts/SFMono/SFMono-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "SFMonoSemiBold";
    src: url("../../fonts/SFMono/SFMono-Semibold.ttf") format("truetype");
    font-weight: normal;
}

*,
 ::before,
 ::after {
    box-sizing: inherit;
}

.portfolio {
    //background-color: $mainColor;
    padding-bottom: 100px;
    padding-top: 100px;
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        .title {
            margin: 5px;
            h2 {
                font-weight: 700;
                color: $textColorDarkMode;
                font-size: 32px;
                font-family: CalibreMedium;
            }
        }
        .container {
            display: flex;
            justify-content: center;
            -webkit-box-align: center;
            flex-direction: column;
            align-items: center;
            height: 100%;
            @include mobile {
                padding: 80px 0px;
            }
            .project-grid {
                width: 900px;
                height: 100%;
                padding: 10px;
                list-style: none;
                margin: 50px 0px 0px;
                display: grid;
                position: relative;
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                grid-gap: 15px;
                box-sizing: inherit;
                //padding-inline-start: 0px;
                transition: all 0.25s ease-in-out 0s;
                @include mobile {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                .item {
                    display: flex;
                    text-align: -webkit-match-parent;
                    //padding: 10px;
                    transition: all 0.25s ease-in-out 0s;
                    height: 340px;
                    @include mobile {
                        width: 400px;
                    }
                    .project-inner {
                        display: flex;
                        -webkit-box-pack: justify;
                        justify-content: space-between;
                        -webkit-box-align: center;
                        flex-direction: column;
                        align-items: flex-start;
                        position: relative;
                        height: auto;
                        padding: 2rem 1.75rem;
                        border-radius: 3px;
                        background-color: $secondaryColor;
                        -webkit-font-smoothing: antialiased;
                        .top {
                            display: block;
                            .project-top {
                                display: flex;
                                -webkit-box-pack: justify;
                                justify-content: space-between;
                                -webkit-box-align: center;
                                align-items: center;
                                margin-bottom: 35px;
                                height: auto;
                                .folder {
                                    svg {
                                        stroke: $highlightColor;
                                        width: 40px;
                                        height: 40px;
                                    }
                                }
                                .project-links {
                                    display: flex;
                                    -webkit-box-align: center;
                                    align-items: center;
                                    margin-right: -10px;
                                    a {
                                        display: flex;
                                        -webkit-box-pack: center;
                                        justify-content: center;
                                        -webkit-box-align: center;
                                        align-items: center;
                                        padding: 5px 7px;
                                        svg {
                                            width: 20px;
                                            height: 20px;
                                        }
                                    }
                                    a:hover {
                                        svg {
                                            stroke: $highlightColor;
                                            //transition: all 0.3s ease;
                                        }
                                    }
                                }
                            }
                            .project-title {
                                margin: 0px 0px 10px;
                                a {
                                    position: static;
                                    text-decoration: none;
                                    font-family: CalibreSemiBold;
                                    font-size: 24px;
                                    transition: all 0.3s ease;
                                }
                            }
                            .project-description {
                                font-size: 17px;
                                opacity: 70%;
                                font-family: CalibreLight;
                            }
                        }
                        .bottom {
                            display: grid;
                            flex-direction: row;
                            .project-tech-list {
                                display: flex;
                                align-items: flex-end;
                                -webkit-box-flex: 1;
                                flex-grow: 1;
                                flex-wrap: wrap;
                                padding-inline-start: 0px;
                                margin: 20px 0px 0px;
                                list-style: none;
                                li {
                                    display: list-item;
                                    text-align: -webkit-match-parent;
                                    opacity: 40%;
                                    margin-right: 25px;
                                    font-family: SFMonoRegular;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                    .project-inner:hover {
                        //top: -10px;
                        .top {
                            .project-title {
                                a {
                                    color: $highlightColor;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}