@import "../../global.scss";
@font-face {
    font-family: "CalibreMedium";
    src: url("../../fonts/Calibre/Calibre-Medium.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "CalibreLight";
    src: url("../../fonts/Calibre/Calibre-Light.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "CalibreSemiBold";
    src: url("../../fonts/Calibre/Calibre-Semibold.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "SFMonoRegular";
    src: url("../../fonts/SFMono/SFMono-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "SFMonoSemiBold";
    src: url("../../fonts/SFMono/SFMono-Semibold.ttf") format("truetype");
    font-weight: normal;
}

*,
 ::before,
 ::after {
    box-sizing: inherit;
}

.portfolio {
    padding-bottom: 100px;
    padding-top: 100px;
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        height: 100%;
        padding-top: 90px;
        .big-text {
            position: absolute;
            white-space: nowrap;
            font-size: 150px;
            font-weight: 800;
            font-family: poppins;
            letter-spacing: 10px;
            color: transparent;
            opacity: 30%;
            -webkit-text-stroke: 1px $textColorDarkMode;
            top: 5%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include mobile {
                font-size: 40px;
            }
        }
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            -webkit-box-align: center;
            @include mobile {
                padding: 16px 0px;
            }
            .title {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin-bottom: 40px;
                h2 {
                    text-align: center;
                    font-family: CalibreLight;
                    font-size: $titleSize;
                    font-weight: 500;
                    letter-spacing: 1px;
                    color: $textColorDarkMode;
                    span {
                        font-weight: 600;
                    }
                    @include mobile {
                        font-size: 22px;
                    }
                }
                p {
                    text-align: center;
                    @include mobile {
                        font-size: 12px;
                    }
                }
            }
            .project-grid {
                display: grid;
                box-sizing: inherit;
                position: relative;
                list-style: none;
                width: 1200px;
                height: 100%;
                padding: 20px;
                margin: 50px 0px 0px;
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                grid-gap: 15px;
                transition: all 0.25s ease-in-out 0s;
                @include mobile {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }
                .item {
                    display: flex;
                    text-align: -webkit-match-parent;
                    height: 340px;
                    transition: all 0.25s ease-in-out 0s;
                    box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.3);
                    @include mobile {
                        width: 400px;
                    }
                    .project-inner {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        flex-direction: column;
                        position: relative;
                        height: auto;
                        padding: 2rem 1.75rem;
                        border-radius: 3px;
                        background-color: $secondaryColor;
                        -webkit-box-pack: justify;
                        -webkit-box-align: center;
                        -webkit-font-smoothing: antialiased;
                        .top {
                            display: block;
                            .project-top {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin-bottom: 35px;
                                height: auto;
                                -webkit-box-pack: justify;
                                -webkit-box-align: center;
                                .folder {
                                    svg {
                                        width: 40px;
                                        height: 40px;
                                        stroke: $highlightColor;
                                    }
                                }
                                .project-links {
                                    display: flex;
                                    align-items: center;
                                    margin-right: -10px;
                                    -webkit-box-align: center;
                                    a {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        padding: 5px 7px;
                                        -webkit-box-pack: center;
                                        -webkit-box-align: center;
                                        svg {
                                            width: 20px;
                                            height: 20px;
                                        }
                                    }
                                    a:hover {
                                        svg {
                                            stroke: $highlightColor;
                                        }
                                    }
                                }
                            }
                            .project-title {
                                margin: 0px 0px 10px;
                                a {
                                    position: static;
                                    text-decoration: none;
                                    font-family: CalibreSemiBold;
                                    font-size: 24px;
                                    transition: all 0.3s ease;
                                }
                            }
                            .project-description {
                                font-size: 17px;
                                font-family: CalibreLight;
                                opacity: 70%;
                            }
                        }
                        .bottom {
                            display: grid;
                            flex-direction: row;
                            .project-tech-list {
                                display: flex;
                                align-items: flex-end;
                                flex-wrap: wrap;
                                flex-grow: 1;
                                padding-inline-start: 0px;
                                margin: 20px 0px 0px;
                                list-style: none;
                                -webkit-box-flex: 1;
                                li {
                                    display: list-item;
                                    margin-right: 25px;
                                    text-align: -webkit-match-parent;
                                    font-family: SFMonoRegular;
                                    font-size: 14px;
                                    opacity: 40%;
                                }
                            }
                        }
                    }
                    .project-inner:hover {
                        .top {
                            .project-title {
                                a {
                                    color: $highlightColor;
                                }
                            }
                        }
                    }
                }
                .item:hover {
                    transform: translateY(-10px);
                }
            }
        }
    }
}