@import "../../global.scss";
.about {
    background-color: $mainColor;
    display: flex;
    justify-content: center;
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 65%;
        .left {
            width: 50%;
            text-align: justify;
            text-justify: inter-word;
            margin: 50px;
            @include mobile {
                width: 90%;
            }
            h2 {
                margin-bottom: 40px;
                font-weight: 600;
                font-size: 40px;
                letter-spacing: 2px;
            }
            h2::after {
                content: "";
                display: block;
                position: relative;
                top: -5px;
                width: 300px;
                height: 1px;
                margin-top: 16px;
                //margin-left: 20px;
                background: #fff;
                opacity: 60%;
            }
            p {
                font-size: 18px;
                line-height: 1.6em;
                font-weight: 300;
                opacity: 60%;
            }
        }
    }
}