@import "../../global.scss";
@font-face {
    font-family: "CalibreMedium";
    src: url("../../fonts/Calibre/Calibre-Medium.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "CalibreLight";
    src: url("../../fonts/Calibre/Calibre-Light.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "CalibreSemiBold";
    src: url("../../fonts/Calibre/Calibre-Semibold.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "SFMonoRegular";
    src: url("../../fonts/SFMono/SFMono-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "SFMonoSemiBold";
    src: url("../../fonts/SFMono/SFMono-Semibold.ttf") format("truetype");
    font-weight: normal;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 70px;
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        height: 100%;
        width: 65%;
        padding-top: 70px;
        @include mobile {
            width: 100%;
        }
        @include laptop1024 {
            width: 100%;
        }
        .big-text {
            position: absolute;
            top: 25%;
            left: 50%;
            font-size: 150px;
            font-weight: 800;
            font-family: poppins;
            white-space: nowrap;
            letter-spacing: 10px;
            color: transparent;
            opacity: 30%;
            transform: translate(-50%, -50%);
            -webkit-text-stroke: 1px $textColorDarkMode;
            @include mobile {
                font-size: 40px;
            }
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin: 50px;
            text-align: justify;
            text-justify: inter-word;
            .text {
                margin-bottom: 60px;
                h2 {
                    margin-bottom: 7px;
                    text-align: center;
                    font-family: CalibreLight;
                    font-size: $titleSize;
                    font-weight: 500;
                    letter-spacing: 1px;
                    color: $textColorDarkMode;
                    span {
                        font-weight: 600;
                    }
                    @include mobile {
                        font-size: 22px;
                    }
                }
                p {
                    text-align: center;
                    @include mobile {
                        font-size: 12px;
                    }
                }
            }
            .mail {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $highlightColor;
                border-radius: 5px;
                transition: all 0.3s ease;
                a {
                    padding: 19px 15px;
                    text-decoration: none;
                    color: $highlightColor;
                    font-size: 1.05rem;
                    font-family: SFMonoRegular;
                    @include mobile {
                        padding: 10px 20px;
                    }
                }
            }
            .mail:hover {
                background-color: $green;
            }
        }
    }
}