@import "../../global.scss";
@font-face {
    font-family: "CalibreMedium";
    src: url("../../fonts/Calibre/Calibre-Medium.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "CalibreLight";
    src: url("../../fonts/Calibre/Calibre-Light.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "CalibreSemiBold";
    src: url("../../fonts/Calibre/Calibre-Semibold.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "SFMonoRegular";
    src: url("../../fonts/SFMono/SFMono-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "SFMonoSemiBold";
    src: url("../../fonts/SFMono/SFMono-Semibold.ttf") format("truetype");
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.intro {
    //background-color: $mainColor;
    display: flex;
    justify-content: center;
    align-items: center;
    //padding-top: 100px;
    padding-bottom: 100px;
    height: calc(100vh - 70px);
    @include mobile {
        //flex-direction: column;
        align-items: center;
    }
    .left {
        background-color: #fff;
    }
    .right {
        //flex: 0.5;
        position: relative;
        -webkit-font-smoothing: antialiased;
        .wrapper {
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include mobile {
                padding-left: 0;
                align-items: center;
            }
            h1 {
                letter-spacing: 1px;
                font-size: 90px;
                color: $textColorDarkMode;
                font-family: poppins, sans-serif;
                font-size: 80px;
                font-weight: 200;
                span {
                    font-weight: 700;
                }
                @include mobile {
                    font-size: 40px;
                }
            }
            h2 {
                font-weight: 800;
                font-family: poppins, sans-serif;
                font-size: 120px;
                padding-bottom: 30px;
                letter-spacing: 6px;
                color: transparent;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: rgba(255, 255, 255, .2);
            }
            h3 {
                font-size: 45px;
                color: $highlightColor;
                font-family: poppins, sans-serif;
                font-weight: 400;
                @include mobile {
                    font-size: 20px;
                }
            }
        }
        .buttons {
            display: flex;
            flex-direction: row;
            padding-top: 60px;
            padding-bottom: 30px;
            padding-left: 50px;
            @include mobile {
                flex-direction: column;
            }
            .learnMore {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                border: 1px solid $highlightColor;
                border-radius: 5px;
                margin-right: 40px;
                transition: all 0.3s ease;
                @include mobile {
                    margin-bottom: 10px;
                }
                .learnMoreBtn {
                    color: $highlightColor;
                    text-decoration: none;
                    padding: 12px 15px;
                    font-size: 1.05rem;
                    margin: 8px;
                    font-family: SFMonoRegular;
                    @include mobile {
                        padding: 10px 20px;
                    }
                }
            }
            .learnMore:hover {
                background-color: $green;
            }
            .downloadPdf {
                display: flex;
                border: 1px solid $highlightColor;
                border-radius: 5px;
                margin-right: 40px;
                justify-content: center;
                align-items: center;
                transition: all 0.3s ease;
                a {
                    color: $highlightColor;
                    font-size: 1.05rem;
                    padding: 12px 15px;
                    text-decoration: none;
                    font-family: SFMonoRegular;
                    margin: 8px;
                    @include mobile {
                        padding: 10px 20px;
                    }
                }
            }
            .downloadPdf:hover {
                background-color: $green;
            }
        }
    }
}