        @import "../../global.scss";
        .intro {
            background-color: $mainColor;
            .right {
                flex: 0.5;
                position: relative;
                .wrapper {
                    width: 100%;
                    height: 100%;
                    padding-left: 50px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                h1 {
                    font-size: 50px;
                    color: #B9F9F4;
                }
            }
        }