$mainColor: #0B1829;
$secondaryColor: #112240;
$textColorDarkMode: #ccd6f6;
$highlightColor: #43FFD5;
$itemColor: #8892b0;
$description: #a8b2d1;
$decoration: #CB3752;
$secondaryDecoration: #401A26;
$width: 768px;
@mixin mobile {
    @media (max-width: #{$width}) {
        @content
    }
}