$mainColor: #0B1829;
$secondaryColor: #112240;
$textColorDarkMode: #ccd6f6;
$highlightColor: #43FFD5;
$green: #25414C;
$itemColor: #8892b0;
$description: #a8b2d1;
$decoration: #CB3752;
$secondaryDecoration: #401A26;
$width: 768px;
$titleSize: 34px;
$titleSizeMobile: 26px;
$textSize: 22px;
$textSizeMobile: 16px;
@mixin mobile {
    @media (max-width: #{$width}) {
        @content
    }
}

;
@mixin iphoneSE {
    @media (max-width: 375px) and (max-height: 667px) {
        @content
    }
}

;